{% extends "main/base.html" %}

{% block title %}Login Here{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {{form|crispy}}
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock %}