{% extends "main/base.html" %}
{% block title %}Create New List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4 text-center">Create New List</h3>
    <form method="post" action="/create/" class="form-group">
        {% csrf_token %}
        
        <!-- Form Fields -->
        <div class="form-group mb-3">
            {{ form.as_p }}
        </div>
        
        <!-- Submit Button -->
        <div class="d-grid">
            <button type="submit" name="save" class="btn btn-success btn-lg">
                <i class="bi bi-plus-circle"></i> Create New
            </button>
        </div>
    </form>
</div>
{% endblock %}
